.menu {
  grid-area: menu;
  background: #a7ceccaa;
  border-bottom-left-radius: 10px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.menu a {
  display: block;
  font-weight: 500;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.menu a:hover {
  font-weight: 600;
}

.menu a.active {
  font-weight: 600;
  text-decoration: underline;
}
