* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("https://s1.1zoom.ru/b6135/807/Cards_Hands_546115_1920x1080.jpg")
    center / cover no-repeat;
    min-height: 100vh;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header"
    "menu board";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
  padding: 20px;
  
}

.header {
  z-index: 5;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #a7ceccaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}

.board {
  grid-area: board;
  background: #a7ceccaa;
  border-bottom-right-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
